<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>待发货订单</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/jquery-editable-select-master/jquery-editable-select.css"/>
	<script src="js/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img {
			max-width: 400px;
			max-height: 300px;
		}

		a {
			color: blue;
			text-decoration: none;
		}
	</style>
</head>
<body class="page-body">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div th:replace="sidebar-menu"></div>
	<div class="main-content">
		<!-- User Info, Notifications and activity Bar -->
		<nav th:replace="navbar"></nav>
		<div class="page-title">
			<div class="title-env">
				<h1 class="title">待发货订单</h1>
				<p class="activityDescription"></p>
			</div>
			<div class="breadcrumb-env">
				<ol class="breadcrumb bc-1">
					<li><a href="/"><i class="fa-home"></i>Home</a></li>
					<li><a>业务管理</a></li>
					<li class="active"><strong>待发货订单</strong></li>
				</ol>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<form role="form" class="form-inline">
					<div class="form-group ">
						<div class="input-group">
							<select id="brandId" name="brandId" class="form-control" style="height:35px" placeholder="品牌">
								<option value="">品牌</option>
								<option  th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group ">
						<div class="input-group">
							<select name="isOffway" class="form-control" style="height:35px">
								<option value="">是否限定</option>
								<option value="0">是</option>
								<option value="1">否</option>
							</select>
						</div>
					</div>
					<div class="form-group ">
						<div class="input-group">
							<input type="text" name="orderNo" class="form-control" style="height:35px" placeholder="订单号"/>
						</div>
					</div>
					<div class="form-group ">
						<div class="input-group">
							<input type="text" name="realName" class="form-control" style="height:35px" placeholder="姓名"/>
						</div>
					</div>
					<div class="form-group ">
						<div class="input-group">
							<input type="text" name="position" class="form-control" style="height:35px" placeholder="职位"/>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
				</table>
			</div>
			<button class="btn btn-info deliver">确认发货</button>
			<button class="btn btn-info cancel">取消订单</button>
		</div>
		<footer th:replace="footer"></footer>
	</div>
</div>
<div th:replace="body-under"></div>
<div class="modal fade in" data-backdrop="static" id="modal-goods">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">商品明细</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>SKU编码</th>
						<th style="width:120px">商品图片</th>
						<th>商品名称</th>
						<!-- <th>品牌LOGO</th> -->
						<th>品牌名称</th>
						<th>尺码</th>
						<th>颜色</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-deliver">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">发货</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th>SKU编码</th>
						<th style="width:120px">商品图片</th>
						<th>商品名称</th>
						<th>品牌名称</th>
						<th>尺码</th>
						<th>颜色</th>
						<th>状态</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<button type="button" class="btn btn-info" onclick="pickDeliver()">发货</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-method">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">温馨提示</h4>
			</div>

			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-info" onclick="submitDeliver()">确定</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-cancel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">温馨提示</h4>
			</div>
			<div class="modal-body">
				请确认要取消该笔订单吗？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-info submit-cancel">确定</button>
			</div>
		</div>
	</div>
</div>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/jquery-editable-select-master/jquery-editable-select.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

    function submitDeliver() {
        var activityPrizeId = $("#modal-deliver").find("input[name='id']:checked");
        var ids = [];
        activityPrizeId.each(function (i, e) {
            ids.push(e.value);
        });
        // var expressNo = prompt("非平台发货请输入快递单号，平台发货请留空", "");
        // var expressNo = $("#modal-method").find("input[name='expressNo']").val();
        $.post("/deliver-save", {"ids": ids, "orderNo": ORDER_NO}, function (data) {
            if (data) {
                jQuery('#modal-method').modal('hide');
                jQuery('#modal-deliver').modal('hide');
                toastr.success("操作已成功！", "温馨提示");
                table_global.fnDraw(table_global.fnSettings());
            } else {
                toastr.error("操作失败,请联系管理员", "温馨提示");
            }
        });
    }

    function pickDeliver() {
        var activityPrizeId = $("#modal-deliver").find("input[name='id']:checked");
        if (activityPrizeId.length == 0) {
            toastr.error("请至少选择一条数据操作", "温馨提示");
        } else {
            jQuery('#modal-method').modal('show', {backdrop: 'fade'});
        }
    }

    var ORDER_NO;
    var table_global;
    jQuery(document).ready(function ($) {
        $("#brandId").editableSelect();
        var oTable = $("#example-1").dataTable({
            language: {
                url: "../assets/Chinese.txt"
            },
            bFilter: false,
            bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp: "aData",//是服务器分页的标志，必须有
            sAjaxSource: "/deliver-data",//通过ajax实现分页的url路径。
            fnServerParams: function (aData) {
                var searchArray = $(".form-inline").serializeArray();
                var brandId = $("#brandId").parent().find("li.es-visible").val();
                if (brandId != "0") {
                    searchArray.push({"name": "brandId", "value": brandId});
                } else {
                    searchArray.push({"name": "brandId", "value": ""});
                }
                $.merge(aData, searchArray);
            },
            columnDefs: [
                {
                    targets: 0,
                    data: "orderNo",
                    width: "5%",
                    orderable: false,
                    className: 'select-checkbox',
                    title: '<input type="checkbox" id="checkbox-all"/>',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="authId" value="' + data + '" />';
                    }
                },
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
                    targets: 2,
                    data: "orderNo",
                    title: "订单号"
                },
                {
                    targets: 3,
                    data: "useDate",
                    title: "使用日期",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd");
                    }
                },
                {
                    targets: 4,
                    data: "realName",
                    title: "姓名"
                },
                {
                    targets: 5,
                    data: "position",
                    title: "职位"
                },
                {
                    targets: 6,
                    data: "users",
                    title: "使用者"
                },
                {
                    targets: 7,
                    data: "brandName",
                    title: "品牌名称"
                },
                {
                    targets: 8,
                    data: "isOffway",
                    title: "是否限定",
                    render: function (data, type, row, meta) {
                        return "1" == data ? "否" : "是";
                    }
                },
                {
                    targets: 9,
                    data: "toRealName",
                    title: "收件方姓名"
                },
                {
                    targets: 10,
                    data: "toPhone",
                    title: "收件方手机"
                },
                {
                    targets: 11,
                    data: "toContent",
                    title: "收件方详细地址"
                },
                {
                    targets: 12,
                    data: "orderNo",
                    title: "商品明细",
                    render: function (data, type, row, meta) {
                        return "<a href='javascript:void(0)' class='showGoods' orderNo='" + data + "' color='blue'>查看</a>";
                    }
                },
                {
                    targets: 13,
                    data: "status",
                    title: "状态",
                    render: function (data, type, row, meta) {
                        switch (data) {
                            case "0":
                                return "未发货";
                            case "7":
                                return "部分发货";
                            default:
                                return "";
                        }
                    }
                },
                {
                    targets: 14,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                }
            ]
        });
        table_global = oTable;
        $(".searchBtn").click(function () {
            $("#checkbox-all").attr("checked", false);
            oTable.fnDraw();  //or fnReloadAjax()
            return false;
        });
        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='authId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });
        $("body").on("click", "a.showGoods", function () {
            var orderNo = $(this).attr("orderNo");
            $.get("/deliver-goods", {orderNo: orderNo}, function (data) {
                var html = "";
                $('#modal-goods tbody').html("");
                $.each(data, function (i, e) {
                    html += "<tr><td>" + e.sku + "</td><td><img src=\"" + e.image + "\" /></td><td>" + e.goodsName + "</td><td>" + e.brandName + "</td><td>" + e.size + "</td><td>" + e.color + "</td></tr>";
                });
                $('#modal-goods tbody').html(html);
            });
            jQuery('#modal-goods').modal('show', {backdrop: 'fade'});
        });
        $(".btn.btn-info.deliver").click(function () {
            var activityPrizeId = $("input[name='authId']:checked");
            if (activityPrizeId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
            } else {
                activityPrizeId = activityPrizeId[0].value;
                ORDER_NO = activityPrizeId;
                // $.get("/deliver-address", {orderNo: activityPrizeId}, function (data) {
                // 	var h4 = $('#modal-deliver h4.modal-title')[0];
                // 	h4.innerText = "发货" + data["province"] + data["city"] + data["county"] + data["content"] + data["realName"] + data["phone"];
                // });
                $.get("/deliver-goods", {orderNo: activityPrizeId}, function (data) {
                    var tbody = $('#modal-deliver tbody');
                    var html = "";
                    tbody.html("");
                    $.each(data, function (i, e) {
                        html += "<tr>" +
                            "<td><input type='checkbox' value='VVV' name='id' DISABLE/>".replace("VVV", e.id).replace("DISABLE", (e.mailNo ? "disabled='disabled'" : "")) + "</td>" +
                            "<td>" + e.sku + "</td>" +
                            "<td><img src=\"" + e.image + "\" /></td>" +
                            "<td>" + e.goodsName + "</td>" +
                            "<td>" + e.brandName + "</td>" +
                            "<td>" + e.size + "</td>" +
                            "<td>" + e.color + "</td>" +
                            "<td>" + (e.mailNo ? "已寄出" : "未寄出") + "</td>" +
                            "</tr>";
                    });
                    tbody.html(html);
                });
                jQuery('#modal-deliver').modal('show', {backdrop: 'fade'});
            }
        });
        $(".btn.btn-info.cancel").click(function () {
            var activityPrizeId = $("input[name='authId']:checked");
            if (activityPrizeId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
            } else {
                jQuery('#modal-cancel').modal('show', {backdrop: 'fade'});
            }
        });
        $(".btn.btn-info.submit-cancel").click(function () {
            var activityPrizeId = $("input[name='authId']:checked");
            if (activityPrizeId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
            } else {
                activityPrizeId = activityPrizeId[0].value;
                $.post("/deliver-cancel", {orderNo: activityPrizeId}, function (data) {
                    if (data) {
                        jQuery('#modal-cancel').modal('hide');
                        toastr.success("操作已成功！", "温馨提示");
                        oTable.fnDraw(oTable.fnSettings());
                    } else {
                        toastr.error("操作失败,请联系管理员", "温馨提示");
                    }
                });
            }
        });
    });
	/*]]>*/
</script>
</body>
</html>
