<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<meta name="referrer" content="no-referrer"/>
	<title>返图明细编辑</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img{
			max-width:400px;
			max-height:300px;
		}
	</style>
</head>
<body class="page-body">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div th:replace="sidebar-menu"></div>
	<div class="main-content">
		<!-- User Info, Notifications and activity Bar -->
		<nav th:replace="navbar"></nav>
		<div class="page-title">
			<div class="title-env">
				<h1 class="title">返图明细编辑</h1>
				<p class="activityDescription"></p>
			</div>
			<div class="breadcrumb-env">
				<ol class="breadcrumb bc-1">
					<li><a href="/"><i class="fa-home"></i>Home</a></li>
					<li><a>系统管理</a></li>
					<li class="active"><strong>返图明细编辑</strong></li>
				</ol>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="modal-title">返图明细</h4>
			</div>
			<div class="panel-body">
				<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<input type="hidden" name="action"/>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">返图品牌</label>
								<select class="form-control" name="brandId" id="brandId">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">使用艺人</label>
								<input type="text" class="form-control" name="starName" placeholder="使用艺人"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">微博链接</label>
								<input type="text" class="form-control" name="weibo" placeholder="微博链接"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">上传图片(多选)</label>
								<input type="file" class="form-control" name="imageFile" placeholder="上传图片" onchange="uploadFile(this)" multiple="multiple"/>
							</div>
						</div>
					</div>
					<div class="row" id="imgPool">
					</div>
				</form>
			</div>
			<button type="button" class="btn btn-info save">保存</button>
		</div>
		<footer th:replace="footer"></footer>
	</div>
</div>

<script src="https://admin.offway.cn/js/common.js"></script>
<script src="https://admin.offway.cn/assets/js/async.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

	function uploadFile(self) {
		var that = $(self);
		if (self.files.length > 0) {
			getQNToken(function (token) {
				var imgList = [];
				async.eachSeries(self.files, function (file, cb) {
					this.upload("", token, file, function () {
						//
					}, function (err) {
						console.log("error");
						console.log(err);
					}, function (res) {
						//上传成功
						if (res != '') {
							var url = qiniuUrl + "/" + res.key;
							imgList.push(url);
						}
						cb();
					});
				}, function () {
					var divList = $("#imgPool").children("div.col-md-2").toArray();
					for (var i in imgList) {
						if (divList[i] == null) {
							addIntroFileUploaded("#imgPool", imgList[i]);
						} else {
							var a = $(divList[i]).find("input[name='image']")[0];
							var b = $(divList[i]).find("img[name='imageImg']")[0];
							if (a == null) {
								addIntroFileUploaded("#imgPool", imgList[i]);
							} else {
								$(a).val(imgList[i]);
								$(b).attr("src", imgList[i]);
								$(b).attr("width", "100px");
								$(b).attr("height", "100px");
								$(b).show();
							}
						}
					}
				});
			});
		} else {
			confirm("未选择任何文件!");
		}
	}

	function addIntroFileUploaded(self, url) {
		var that = $(self);
		that.append("\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
				"\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
				"\t\t\t\t\t\t\t\t<label class=\"control-label\">图片</label>\n" +
				// "\t\t\t\t\t\t\t\t<input type=\"file\" class=\"form-control\" name=\"introFile\" placeholder=\"图片\" multiple=\"multiple\" accept=\"image/*\" onchange=\"uploadIntroFile(this)\"/>\n" +
				"\t\t\t\t\t\t\t\t<input type=\"button\" class=\"form-control btn btn-danger\" value=\"删除\" onclick=\"delIntroFile(this)\"/>\n" +
				"\t\t\t\t\t\t\t\t<input type=\"hidden\" class=\"form-control\" name=\"image\" value='VV' />\n".replace("VV", url) +
				"\t\t\t\t\t\t\t\t<img alt=\"\" src=\"SS\" name=\"imageImg\" style=\"display:block;\" width='100px' height='100px' />\n".replace("SS", url) +
				"\t\t\t\t\t\t\t</div>\n" +
				"\t\t\t\t\t\t</div>");
	}

	function delIntroFile(self) {
		var that = $(self);
		that.parent().parent().remove();
	}

	function getQNToken(cb) {
		$.get("/qiniu/token", {}, function (token) {
			cb(token);
		});
	}

	function formatTime(time) {
		return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
	}

	function buildImg(url) {
		return "<img width='100px' height='100px' src='#' />".replace("#", url);
	}

	function forEdit(id) {
		$.post("/feedback_detail_get", {"id": id}, function (data) {
			if (data) {
				var form = $("#saveForm");
				//商家
				for (var i in data) {
					var ele = form.find("input[name='" + i + "']");
					switch (ele.attr("type")) {
						case "radio":
							ele.val([data[i]]);
							break;
						default:
							if (data[i] != undefined && !isNaN(data[i]) && String(data[i]).length == 13) {
								ele.val(formatTime(data[i]));
								$("#" + i).val(formatTime(data[i]));
							} else {
								ele.val(data[i]);
							}
					}
				}
				var imgs = data["imgUrl"].split(",");
				for (let url of imgs) {
					addIntroFileUploaded("#imgPool", url);
				}
				form.find(".btn.image").show();
				form.find("input[name='action']").val("edit");
				//编辑时不允许变更所属品牌
				$("#brandId").attr("readonly", "readonly");
			}
		});
	}

	function forAdd() {
		var form = $("#saveForm");
		form.find("input:not(.notMe)").val("");
		form.find("img").attr("src", "");
		form.find("img").hide();
		form.find("input[type='file']").show();
		form.find("input[name='action']").val("add");
	}

	var qiniuUrl = [[${qiniuUrl}]];
	var theId = [[${theId}]];
	jQuery(document).ready(function($)
	{
		$.post("/feedback_brand_list", {}, function (data) {
			if (data) {
				let str = "";
				for (let obj of data) {
					str += '<option value="VV">SS</option>'.replace("VV", obj["id"]).replace("SS", obj["name"]);
				}
				$("#brandId").html(str);
			}
		});

		if (isNaN(theId)) {
			setTimeout(function () {
				forAdd();
			}, 500);
		} else {
			setTimeout(function () {
				forEdit(theId);
			}, 500);
		}

		//保存
		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			var brandId = form.find("select[name='brandId']").val();
			var starName = form.find("input[name='starName']").val();
			var weibo = form.find("input[name='weibo']").val();
			var images = form.find("input[name='image']");

			if (brandId == '' || starName == '' || weibo == '' || images.length == 0) {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}

			//提交保存
			var map = form.serializeArray();
			$.post("/feedback_detail_save", map, function (data) {
				if (data) {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.success("操作已成功！", "温馨提示");
					setTimeout(function () {
						// window.location.href = '/limit_sale.html';
					}, 1000);
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("操作失败", "温馨提示");
				}
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>