<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>线下订单</title>
	<link rel="stylesheet" href="https://admin.offway.cn/assets/css/dd.css"/>
	<link rel="stylesheet" href="https://admin.offway.cn/assets/css/jquery.datetimepicker.min.css"/>
	<script src="js/qiniu.min.js"></script>
	<style type="text/css">
		.form-group span img {
			max-width: 40px;
			max-height: 30px;
		}

		.form-group li img {
			max-width: 40px;
			max-height: 30px;
		}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">线下订单</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>业务管理</a></li>
						<li class="active"><strong>线下订单</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">

						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="ordersNo" class="form-control" style="height:35px" placeholder="订单号"/>
							</div>
						</div>
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="users" class="form-control" style="height:35px" placeholder="使用艺人"/>
							</div>
						</div>
						<div class="form-group ">
							<div class="input-group">
								<select name="state" class="form-control" style="height:35px">
									<option value="">所有</option>
									<option value="0">未寄出</option>
									<option value="1">已寄出</option>
								</select>
							</div>
						</div>
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="realName" class="form-control" style="height:35px" placeholder="租借者姓名"/>
							</div>
						</div>
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="sTime" id="sTime" class="form-control" style="height:35px" placeholder="开始时间"/>
							</div>
						</div>
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="eTime" id="eTime" class="form-control" style="height:35px" placeholder="结束时间"/>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
						
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
				<button class="btn btn-info add" >创建订单</button>
				<button class="btn btn-info edit">修改</button>
			</div>


			<footer th:replace="footer"></footer>
		</div>
	</div>

	<div class="modal fade in" data-backdrop="static" id="modal-goods">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<table id="example-2" class="table table-striped table-bordered" cellspacing="0" width="100%">
				</table>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade in" data-backdrop="static" id="modal-remark">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<table id="example-3" class="table table-striped table-bordered" cellspacing="0" width="100%">
				</table>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info addMesg">添加</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade in" data-backdrop="static" id="modal-goods-status">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<table id="example-4" class="table table-striped table-bordered" cellspacing="0" width="100%">
				</table>
				<div class="modal-footer">
					<input type="hidden" name="orderID" id="orderID"/>
					<button class="btn btn-danger confirmBack">确认归还</button>
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade in" id="modal-6" style="z-index: 1050">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">添加订单</h4>
				</div>

				<div class="modal-body">
					<form role="form" id="saveForm">
						<input type="hidden" name="id"/>
						<input type="hidden" name="ordersNo"/>
						<input type="hidden" name="brandId"/>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">租借者姓名</label>
									<input type="text" class="form-control" name="realName" placeholder="租借者姓名"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">租借者职位</label>
									<input type="text" class="form-control" name="position" placeholder="租借者职位"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">使用艺人</label>
									<input type="text" class="form-control" name="users" placeholder="使用艺人"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">开始时间</label>
									<input type="text" class="form-control" name="startTime" id="startTime" placeholder="开始时间" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">截止时间</label>
									<input type="text" class="form-control" name="returnTime" id="returnTime" placeholder="截止时间" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">详细信息</label>
									<input type="text" class="form-control" name="remark" placeholder="详细信息"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">借出商品</label>
									<div id="goodsPool"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">商品模式</label>
									<label><input name="goodsMode" id="goodsMode1" class="notMe" type="radio" checked="checked" value="0"/>普通商品模式</label>
									<label><input name="goodsMode" id="goodsMode2" class="notMe" type="radio" value="1"/>自定义商品模式</label>
								</div>
							</div>
						</div>
						<div id="addModeDiv" style="display: none;">
							<button id="addDIVGoodsBtn" onclick="addDIVGoods(this)" type="button">添加商品</button>
						</div>
						<div id="searchModeDiv">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">查询商品</label>
										<select class="form-control" id="goodsSelect"></select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label"></label>
										<input type="button" class="notMe form-control" value="添加商品" onclick="addTheGoods(false)" />
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label"></label>
										<input type="button" class="notMe form-control" value="添加全部" onclick="addTheGoods(true)" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">选择方式</label>
										<label><input name="method" class="notMe" type="radio" checked="checked" value="0"/>品牌首字母索引</label>
										<label><input name="method" class="notMe" type="radio" value="1"/>按分类索引</label>
										<label><input name="method" class="notMe" type="radio" value="2"/>按关键字索引</label>
									</div>
								</div>
							</div>
							<div class="row" id="azBarDiv">
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">品牌首字母索引</label>
										<select class="form-control" id="brandSelect" onchange="renderGoodsSelect(this)"></select>
										<div id="azBar"></div>
									</div>
								</div>
							</div>
							<div class="row" id="typeAndCategoryDiv" style="display: none">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">一级分类</label>
										<select class="form-control" id="typeSelect" onchange="renderCategory(this)"></select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">二级分类</label>
										<select class="form-control" id="categorySelect" onchange="renderGoods(this)"></select>
									</div>
								</div>
							</div>
							<div class="row" id="searchDiv" style="display: none">
								<div class="col-md-8">
									<div class="form-group">
										<input type="text" class="form-control" name="keyword" placeholder="商品名关键字"/>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input type="button" onclick="renderKeywordGoodsSelect()" class="notMe form-control" value="查询" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>

			</div>
		</div>
	</div>

	<input type="hidden" name="remarkid"/>
	<input type="hidden" id="IMGHOLDER"/>
	<input type="hidden" id="type_and_category_list"/>
	<script src="https://admin.offway.cn/js/common1.js"></script>
	<script src="https://admin.offway.cn/assets/js/jquery.dd.js"></script>
	<script src="https://admin.offway.cn/assets/js/jquery.datetimepicker.full.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

	const DIV = `
\t\t\t\t\t\t\t<div class="DIV_GOODS">
\t\t\t\t\t\t\t\t<div class="row">
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">品牌</label>
\t\t\t\t\t\t\t\t\t\t\t<select class="form-control" name="div_brand"></select>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t<div class="row">
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">商品名称</label>
\t\t\t\t\t\t\t\t\t\t\t<input type="text" class="form-control" name="div_goodsName" placeholder="商品名称"/>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">商品图片</label>
\t\t\t\t\t\t\t\t\t\t\t<input type="file" class="form-control" name="div_goodsImgFile" onchange="uploadMainFile(this)"/>
\t\t\t\t\t\t\t\t\t\t\t<input type="hidden" class="form-control" name="div_goodsImg"/>
\t\t\t\t\t\t\t\t\t\t\t<img src="" name="div_goodsImgImg" style="display: none"/>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t<div class="row">
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">颜色</label>
\t\t\t\t\t\t\t\t\t\t\t<input type="text" class="form-control" name="div_goodsColor" placeholder="颜色"/>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">尺码</label>
\t\t\t\t\t\t\t\t\t\t\t<input type="text" class="form-control" name="div_goodsSize" placeholder="尺码"/>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t<div class="row">
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">物流单号</label>
\t\t\t\t\t\t\t\t\t\t\t<input type="text" class="form-control" name="div_goodsExpress" placeholder="物流单号"/>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t\t\t\t<label class="control-label">寄出方式</label>
\t\t\t\t\t\t\t\t\t\t\t<select class="form-control" name="div_goodsWay">
\t\t\t\t\t\t\t\t\t\t\t<option value="0">平台</option>
\t\t\t\t\t\t\t\t\t\t\t<option value="1">商家</option>
\t\t\t\t\t\t\t\t\t\t\t</select>
\t\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t\t<button onclick="delMe(this)" type="button">删除</button>
\t\t\t\t\t\t\t</div>
	`;

	function addDIVGoods(self, obj) {
		var btn = $("#goodsPool");
		btn.append(DIV);
		var form = $("#saveForm");
		form.find("select[name='div_brand']").last().html(BRAND_STR);
		if (obj) {
			form.find("select[name='div_brand']").last().val(obj["brandId"]);
			form.find("input[name='div_goodsName']").last().val(obj["goodsName"]);
			form.find("input[name='div_goodsImg']").last().val(obj["goodsImage"]);
			var img = form.find("img[name='div_goodsImgImg']").last();
			img.attr("src", obj["goodsImage"]);
			img.attr("width", "100px");
			img.attr("height", "100px");
			img.show();
			form.find("input[name='div_goodsColor']").last().val(obj["color"]);
			form.find("input[name='div_goodsSize']").last().val(obj["size"]);
			form.find("input[name='div_goodsExpress']").last().val(obj["expressOrderNo"]);
			form.find("select[name='div_goodsWay']").last().val(obj["way"]);
		}
	}

	var BRAND_STR;

	function getBrandList() {
		$.post("/offline_brand_list", {}, function (data) {
			if (data) {
				let str = "";
				for (let obj of data) {
					str += '<option value="VV">SS</option>'.replace("VV", obj["id"]).replace("SS", obj["name"]);
				}
				BRAND_STR = str;
			}
		});
	}

	function getQNToken(cb) {
		$.get("/qiniu/token", {}, function (token) {
			cb(token);
		});
	}

	function uploadMainFile(self) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name=div_goodsImg]").val(url);
					that.parent().find("[name=div_goodsImgImg]").attr("src", url);
					that.parent().find("[name=div_goodsImgImg]").attr("width", "100px");
					that.parent().find("[name=div_goodsImgImg]").attr("height", "100px");
					that.parent().find("[name=div_goodsImgImg]").show();
				});
			});
		} else {
			confirm("未选择任何文件!");
		}
	}

	function delMe(self) {
		var that = $(self).parent();
		that.remove();
	}

	function addTheGoods(all) {
		var ele = $("#goodsSelect");
		var imgList = JSON.parse($("#IMGHOLDER").val());
		if (all) {
			ele.children().each(function () {
				var id = $(this).val();
				var text = $(this).text();
				addMoreGoodsDisplay(id, text, imgList[id]);
			});
		} else {
			var id = ele.val();
			var text = $("#goodsSelect option:selected").text();
			addMoreGoodsDisplay(id, text, imgList[id]);
		}
	}

	function delNode(id) {
		var that = $("#" + id);
		that.remove();
	}

	function addMoreGoodsDisplay(id, text, src) {
		var uuid = UUID.randomUUID();
		var that = $("#goodsPool");
		var str = '<div id="UUID" class="toDel">'.replace("UUID", uuid);
		str += '<img style="display:inline-block;width: 40px; height: 30px" class="form-control" src="SRC" />'.replace("SRC", src);
		str += '<input style="display:inline-block;width: 600px;" type="text" class="form-control" value="VALUE" readonly="readonly" />'.replace("VALUE", text);
		str += '<input type="hidden" value="VALUE" name="goodsID" />'.replace("VALUE", id);
	    str += '<input type="text" class="form-control" name="size" placeholder="尺码"/>';
		str += '<input type="text" class="form-control" name="color" placeholder="颜色"/>';
		str += '<input type="text" class="form-control" name="expressOrderNo" placeholder="填写物流单号"/>';
		str += '<input type="text" class="form-control" name="skuCode" placeholder="SKU编码，非必填"/>';
		str += '<select id="way" name = "way" class="form-control" style="height:35px">\n' +
				'\t\t\t\t\t\t\t\t\t\t<option value="0">平台</option>\n' +
				'\t\t\t\t\t\t\t\t\t\t<option value="1">品牌</option>\n' +
				'\t\t\t\t\t\t\t\t\t</select>';
		str += '<input style="display:inline-block;" type="button" value="删除" onclick="delNode(\'UUID\')" />'.replace("UUID", uuid);
		str += '</div>';
		that.append(str);
	}

	function renderGoodsSelect(self, id) {
		var theId;
		if (self == null) {
			theId = id;
		} else {
			var that = $(self);
			theId = that.val();
		}
		$.post("/feedback_getGoods", {"value": theId, "type": 0, "brandId": getHiddenBrandId()}, function (data) {
			bindGoods(data);
		});
	}

	function renderGoods(self) {
		//update goods list
		var selectedId = $(self).val();
		$.post("/feedback_getGoods", {"value": selectedId, "type": 2, "brandId": getHiddenBrandId()}, function (data) {
			bindGoods(data);
		});
	}

	function renderCategory(self) {
		var jsonStr = $("#type_and_category_list").val();
		var list = JSON.parse(jsonStr);
		var selectedId = $(self).val();
		for (var type in list) {
			if (selectedId == list[type]["name"]) {
				bindCategorySelector(list[type]["sub"]);
				break;
			}
		}
		//update goods list
		$.post("/feedback_getGoods", {"value": selectedId, "type": 1, "brandId": getHiddenBrandId()}, function (data) {
			bindGoods(data);
		});
	}

	function getHiddenBrandId() {
		return "";
	}

	function bindCategorySelector(data) {
		var categoryStr = "<option value=\"\" selected=\"selected\">请选择</option>";
		for (var category in data) {
			category = data[category];
			categoryStr += '<option value="VALUE">KEY</option>'.replace("VALUE", category["name"]).replace("KEY", category["name"]);
		}
		$("#categorySelect").html(categoryStr);
	}

	function delremark(id) {
		var confirm = window.confirm("你确定要这么做？");
		if (confirm == false) {
			return;
		}
		$.post("/offline-delremark", {"id": id}, function (data) {
			if (data) {
				toastr.success("操作已成功！", "温馨提示");
				oTable0.fnDraw();
			}
		});
	}

	var msDropDownEle = null;

	function bindGoods(data) {
		var str = "";
		var imgList = {};
		for (var i in data) {
			var brand = data[i];
			str += '<option value="VALUE" data-image="ICON" data-goodsNo="CODE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["id"] + " " + brand["name"]).replace("ICON", brand["image"]).replace("CODE", brand["code"]);
			imgList[brand["id"]] = brand["image"];
		}
		var ele = $("#goodsSelect");
		ele.html(str);
		$("#IMGHOLDER").val(JSON.stringify(imgList));
		if (msDropDownEle) {
			msDropDownEle.data("dd").destroy();
		}
		msDropDownEle = ele.msDropDown();
	}

	function bindTypeSelector(data) {
		var typeStr = "<option value=\"\" selected=\"selected\">请选择</option>";
		for (var type in data) {
			type = data[type];
			typeStr += '<option value="VALUE">KEY</option>'.replace("VALUE", type["name"]).replace("KEY", type["name"]);
		}
		$("#typeSelect").html(typeStr);
		// bindCategorySelector(data[0]["sub"]);
	}

	function renderBrandSelect(key) {
		$("#goodsSelect").html("");
		$.post("/feedback_getBrand", {"prefix": key}, function (data) {
			var str = "";
			for (var i in data) {
				var brand = data[i];
				if (i == 0) {
					renderGoodsSelect(null, brand["id"]);
				}
				str += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
			}
			$("#brandSelect").html(str);
		});
	}

	function renderKeywordGoodsSelect() {
		var that = $("input[name='keyword']");
		var value = that.val();
		$.post("/feedback_getGoods", {"value": value, "type": 3, "brandId": getHiddenBrandId()}, function (data) {
			bindGoods(data);
		});
	}

	function buildAZBar() {
		var str = "";
		var AZ = "ABCDEFGHIJKLMNOPQRSTUVWXYZ#";
		for (var i in AZ.split("")) {
			var char = AZ[i];
			str += "<a href='#' onclick='renderBrandSelect(\"VAL\")'>CHAR</a>&nbsp;".replace("CHAR", char).replace("VAL", char);
		}
		$("#azBar").html(str);
		$("#brandSelect").html("");
		$("#goodsSelect").html("");
		$("#goodsPool").html("");
		$("img[name='imageUrlImg']").hide();
		$("img[name='shareImgImg']").hide();
	}

	function forAdd() {
		buildAZBar();
		var form = $("#saveForm");
		form.find("input:not(.notMe)").val("");
		form.find("img").attr("src", "");
		form.find("img").hide();
		form.find("input[type='file']").show();
		form.find("input[name='action']").val("add");
		form.find("input[name='brandId']").val("");
		$(".modal-backdrop").css("z-index", 999);
	}

	function setState(id, state) {
		$.post("/offline-confirm", {id: id, state: state}, function (data) {
			if (data) {
				toastr.success("操作成功！", "温馨提示");
				oTable1.fnDraw(oTable1.fnSettings());
				jQuery('#modal-ex').modal('hide', {backdrop: 'fade'});
			} else {
				toastr.success("操作失败！", "温馨提示");
			}
		})
	}

	function deleteOrder(id) {
		var confirm = window.confirm("一旦删除该笔订单将无法恢复，您确认要这样做吗？");
		if (confirm == false) {
			return;
		}
		$.post("/offline-deloder", {id: id}, function (data) {
			if (data) {
				toastr.success("操作成功！", "温馨提示");
				oTable1.fnDraw(oTable1.fnSettings());
				jQuery('#modal-ex').modal('hide', {backdrop: 'fade'});
			} else {
				toastr.success("操作失败！", "温馨提示");
			}
		})
	}

	function clean() {
		var form = $("#modal-6");
		form.find("input[name = realName]").val("");
		form.find("input[name = id]").val();
		form.find("input[name = ordersNo]").val();
		form.find("input[name = position]").val();
		form.find("input[name = users]").val();
		form.find("input[name = expressOrderNo]").val();
		form.find("input[name = startTime]").val();
		form.find("input[name = returnTime]").val();
		form.find("input[name = way]").val();
		form.find("div.DIV_GOODS").remove();
		$("#goodsPool").empty();
	}

	function topIt(ordersNo){
		$("#example-2").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp : "aData",//是服务器分页的标志，必须有
			sAjaxSource : "/offlineOrdersGoods-data?ordersNo="+ordersNo,//通过ajax实现分页的url路径。
			destroy:true,
			fnServerParams : function(aData){
			},
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width:"5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function ( data, type, full, meta ) {
						return '<input type="checkbox" name="brandId" value="'+data+'" />';
					}
				},
				{
					targets: 1,
					data: "brandName",
					title: "品牌名称"
				},
				{
					targets: 2,
					data: "goodsImage",
					title: "商品图片",
					render: function (data, type, row, meta) {
						return "<img src="+data+"></img>";
					}
				},
				{
					targets: 3,
					data: "goodsName",
					title: "商品名称"
				},
				{
					targets: 4,
					data: "sku",
					title: "SKU编码"
				},
				{
					targets: 5,
					data: "size",
					title: "尺码"
				},
				{
					targets: 6,
					data: "color",
					title: "颜色"
				},
				{
					targets: 7,
					data: "expressOrderNo",
					title: "物流单号",
                    render: function (data, type, row, meta) {
                        if (data.length <= 0){
                            return "无";
                        }else {
                        	return data;
						}
                    }
				},
				{
					targets: 8,
					data: "way",
					title: "寄出方式",
					render: function (data, type, row, meta) {
						if (data == 0){
							return "平台";
						} else {
							return "品牌";
						}
					}
				}
			]
		});
		jQuery('#modal-goods').modal('show', {backdrop: 'fade'});
	}

	function pickGoodsForReturn(id, ordersNo) {
		$("#orderID").val(id);
		$("#example-4").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/offlineOrdersGoods-data?ordersNo=" + ordersNo,//通过ajax实现分页的url路径。
			destroy: true,
			fnServerParams: function (aData) {
			},
			searching: false,
			lengthChange: false,
			// paging: false,
			// ordering: false,
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function (data, type, full, meta) {
						var state = full["state"];
						if (state == "1") {
							return '<input type="checkbox" name="pickedGoodsId" disabled="disabled" value="' + data + '" />';
						} else {
							return '<input type="checkbox" name="pickedGoodsId" value="' + data + '" />';
						}
					}
				},
				{
					targets: 1,
					data: "brandName",
					title: "品牌名称"
				},
				{
					targets: 2,
					data: "goodsImage",
					title: "商品图片",
					render: function (data, type, row, meta) {
						return "<img src=" + data + "></img>";
					}
				},
				{
					targets: 3,
					data: "goodsName",
					title: "商品名称"
				},
				{
					targets: 4,
					data: "sku",
					title: "SKU编码"
				},
				{
					targets: 5,
					data: "size",
					title: "尺码"
				},
				{
					targets: 6,
					data: "color",
					title: "颜色"
				},
				{
					targets: 7,
					data: "expressOrderNo",
					title: "物流单号",
					render: function (data, type, row, meta) {
						if (data.length <= 0) {
							return "无";
						} else {
							return data;
						}
					}
				},
				{
					targets: 8,
					data: "way",
					title: "寄出方式",
					render: function (data, type, row, meta) {
						if (data == 0) {
							return "平台";
						} else {
							return "品牌";
						}
					}
				},
				{
					targets: 9,
					data: "state",
					title: "状态",
					render: function (data, type, row, meta) {
						//状态:[0-未收回,1-已收回]
						if (data == 0) {
							return "未收回";
						} else {
							return "已收回";
						}
					}
				}
			]
		});
		jQuery('#modal-goods-status').modal('show', {backdrop: 'fade'});
	}

	function addremark(id){
		$("input[name='remarkid']").val(id);
		oTable0 = $("#example-3").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp : "aData",//是服务器分页的标志，必须有
			sAjaxSource : "/offline-remarkbyid?id="+id,//通过ajax实现分页的url路径。
			destroy:true,
			fnServerParams : function(aData){
			},
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width:"5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function ( data, type, full, meta ) {
						return '<input type="checkbox" name="remarksid" value="'+data+'" />';
					}
				},
				{
					targets: 1,
					data: "ordersNo",
					title: "订单编号"
				},
				{
					targets: 2,
					data: "content",
					title: "内容"
				},
				{
					targets: 3,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 4,
					data: "id",
					title: "操作",
					render: function (data, type, row, meta) {
						return '<input type="button" name="remark" id="remark" onclick="delremark('+data+')" value="删除"/>';
					}
				}
			]
		});
		jQuery('#modal-remark').modal('show', {backdrop: 'fade'});
	}

	var qiniuUrl = [[${qiniuUrl}]];
	var theId = [[${theId}]];
	var oTable0;
	var oTable1;
	jQuery(document).ready(function($)
	{
		jQuery.datetimepicker.setLocale('zh');
		jQuery('#startTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		jQuery('#returnTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		jQuery('#sTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		jQuery('#eTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);

		if (isNaN(theId)) {
			setTimeout(function () {
				forAdd();
			}, 500);
		} else {
			setTimeout(function () {
				forEdit(theId);
			}, 500);
		}

		$.getJSON("/type_and_category_list", {}, function (data) {
			$("#type_and_category_list").val(JSON.stringify(data));
			bindTypeSelector(data);
		});

		getBrandList();

		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true  
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/offline-data",//通过ajax实现分页的url路径。
            fnServerParams : function(aData){
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
            columnDefs: [
				{	
					targets: 0,
				    data: "id",
				    width:"5%",
				    orderable: false,
				    className: 'select-checkbox',
				    title: '<input type="checkbox" id="checkbox-all"/>',
				    render: function ( data, type, full, meta ) {
				    	return '<input type="checkbox" name="activityId" value="'+data+'" />';
				    }
				},
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
               		targets: 2,
	                data: "ordersNo",
	                title: "订单号"
            	},
            	
            	{
               		targets: 3,
	                data: "startTime",
	                title: "使用日期",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd");
                    }
            	}, 
            	{
               		targets: 4,
	                data: "returnTime",
	                title: "归还时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd");
					}
            	},
            	{
               		targets: 5,
	                data: "realName",
	                title: "姓名"
            	},
            	{
               		targets: 6,
	                data: "position",
	                title: "职位"
            	},
            	{
               		targets: 7,
	                data: "users",
	                title: "使用艺人"
            	},
            	{
               		targets: 8,
	                data: "goodsCount",
	                title: "商品数量"
            	},
            	{
               		targets: 9,
	                data: "createTime",
	                title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd");
					}
            	},
				{
					targets: 10,
					data: "ordersNo",
					title: "商品明细",
					render: function (data, type, row, meta) {
						var ordersNo = data;
						return '<input type="button" name="checkIt" onclick="topIt(\'' + data + '\')" value="查看详情"/>';
					}
				},
				{
					targets: 11,
					data: "state",
					title: "状态",
					render: function (data, type, row, meta) {
						/** 状态:[0-未寄出,1-已寄出,2-未收回,3-已部分收回,4-已收回] **/
						var map = ["未寄出", "已寄出", "已寄出/未收回", "已寄出/已部分收回", "已寄出/已收回"];
						return map[data];
					}
				},
				{
					targets: 12,
					data: "remark",
					title: "详细信息"
				},
				{
					targets: 13,
					data: "id",
					title: "操作",
					render: function (data, type, row, meta) {
						var status = row["state"];
						var ordersNo = row["ordersNo"];
						if ("0" == status) {
							return '<input type="button" name="checkIt" onclick="setState(' + data + ',0)" value="确认发货"/>';
						} else if ("1" == status || "4" != status) {
							return '<input type="button" name="checkIt" onclick="pickGoodsForReturn(' + data + ',\'' + ordersNo + '\')" value="确认收货"/>';
						} else {
							return '';
						}
					}
				},
				{
					targets: 14,
					data: "msg",
					title: "最新留言"
				},
				{
					targets: 15,
					data: "id",
					title: "留言",
					render: function (data, type, row, meta) {
						var isnull = row["message"];
						if(isnull == 1){
							return '<input type="button" style="background-color: #21b3e6;color: #ebf7fd" name="remark" id="remark" onclick="addremark('+data+')" value="修改留言"/>';
						}else {
							return '<input type="button" name="remark" id="remark" onclick="addremark('+data+')" value="添加留言"/>';
						}
					}
				},
				{
					targets: 16,
					data: "id",
					title: "操作",
					render: function (data, type, row, meta) {
						return '<input type="button" name="checkIt" onclick="deleteOrder(' + data + ')" value="删除"/>';
					}
				}
               ]
		});
		oTable1 = oTable;

		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw();  //or fnReloadAjax()  
			return false;
		});

		$('[name="goodsMode"]').click(function () {
			var value = $(this).val();  //获取选中的radio的值
			var searchDiv = $("#searchModeDiv");
			var addDiv = $("#addModeDiv");
			switch (parseInt(value)) {
				case 0:
					searchDiv.show();
					addDiv.hide();
					break;
				case 1:
					searchDiv.hide();
					addDiv.show();
					break;
			}
		});

		$('[name="method"]').click(function () {
			var value = $(this).val();  //获取选中的radio的值
			var azBarDiv = $("#azBarDiv");
			var typeAndCategoryDiv = $("#typeAndCategoryDiv");
			var searchDiv = $("#searchDiv");
			switch (parseInt(value)) {
				case 0:
					azBarDiv.show();
					typeAndCategoryDiv.hide();
					searchDiv.hide();
					break;
				case 1:
					azBarDiv.hide();
					typeAndCategoryDiv.show();
					searchDiv.hide();
					break;
				default:
					azBarDiv.hide();
					typeAndCategoryDiv.hide();
					searchDiv.show();
					break;
			}
		});

		$(".btn.btn-info.save").click(function () {
			var data = $("#saveForm").serializeArray();
			$.post("/offline-save", data, function (data) {
				if (data) {

					jQuery('#modal-6').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.addMesg").click(function () {
			var remarkid = $("input[name='remarkid']").val();
			var content = prompt("输入内容", "");
			if (content.length == 0 || content == null) {
				alert("请输入内容！");
			} else {
				$.post("/offline-addremark", {id: remarkid, content: content}, function (data) {
					if (data) {
						toastr.success("操作已成功！", "温馨提示");
						oTable0.fnDraw();
					} else {
						toastr.error("操作失败", "温馨提示");
					}
				});
			}
		});

		$(".btn.btn-danger.confirmBack").click(function () {
			var activityId = $("input[name='pickedGoodsId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});
			$.post("/offline-confirm-back", {"ids": ids, "id": $("#orderID").val()}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					jQuery('#modal-goods-status').modal('hide');
					oTable.fnDraw();
				}
			});
		});

		$(".btn.btn-info.add").click(function () {
			buildAZBar();
			clean();
			var form = $("#modal-6");
			form.find("input:not(.notMe)").val("");
			form.find("img").attr("src", "");
			form.find("img").hide();
			form.find("input[type='file']").show();
			$(".imageShow").remove();
			jQuery('#modal-6').modal('show', {backdrop: 'fade'});
		});

		$(".btn.btn-info.edit").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}
			buildAZBar();
			clean();
			$.post("/offline-edit", {id: activityId.val()}, function (data) {
				var form = $("#modal-6");
				var startTime = new Date(data["offlineOrders"]["startTime"]).Format('yyyy-MM-dd hh:mm:ss');
				var returnTime = new Date(data["offlineOrders"]["returnTime"]).Format('yyyy-MM-dd hh:mm:ss');
				form.find("input[name = realName]").val(data["offlineOrders"]["realName"]);
				form.find("input[name = id]").val(data["offlineOrders"]["id"]);
				form.find("input[name = ordersNo]").val(data["offlineOrders"]["ordersNo"]);
				form.find("input[name = position]").val(data["offlineOrders"]["position"]);
				form.find("input[name = users]").val(data["offlineOrders"]["users"]);
				form.find("input[name = expressOrderNo]").val(data["offlineOrders"]["expressOrderNo"]);
				form.find("input[name = startTime]").val(startTime);
				form.find("input[name = returnTime]").val(returnTime);
				form.find("input[name = way]").val(data["offlineOrders"]["way"]);
				form.find("input[name = remark]").val(data["offlineOrders"]["remark"]);
				for (var i in data["offlineOrdersGoods"]) {
					if (data["offlineOrdersGoods"][i]["goodsId"]) {
						var name = "way" + i;
						var uuid = UUID.randomUUID();
						var that = $("#goodsPool");
						var str = '<div id="UUID" class="toDel">'.replace("UUID", uuid);
						str += '<img style="display:inline-block;width: 40px; height: 30px" class="form-control" src="SRC" />'.replace("SRC", data["offlineOrdersGoods"][i]["goodsImage"]);
						str += '<input style="display:inline-block;width: 600px;" type="text" class="form-control" value="VALUE" readonly="readonly" />'.replace("VALUE", data["offlineOrdersGoods"][i]["goodsName"]);
						str += '<input type="hidden" value="VALUE" name="goodsID" />'.replace("VALUE", data["offlineOrdersGoods"][i]["goodsId"]);
						str += '<input type="text" class="form-control" value="VALUE" name="size" placeholder="尺码"/>'.replace("VALUE", data["offlineOrdersGoods"][i]["size"]);
						str += '<input type="text" class="form-control" value="VALUE" name="color" placeholder="颜色"/>'.replace("VALUE", data["offlineOrdersGoods"][i]["color"]);
						str += '<input type="text" class="form-control" value="VALUE" name="expressOrderNo" placeholder="填写物流单号"/>'.replace("VALUE", data["offlineOrdersGoods"][i]["expressOrderNo"]);
						str += '<input type="text" class="form-control" value="VALUE" name="skuCode" placeholder="SKU编码，非必填"/>'.replace("VALUE", data["offlineOrdersGoods"][i]["sku"]);
						str += '<select id="VALUE" name = "way" class="form-control" style="height:35px">\n'.replace("VALUE", name) +
								'\t\t\t\t\t\t\t\t\t\t<option value="0">平台</option>\n' +
								'\t\t\t\t\t\t\t\t\t\t<option value="1">品牌</option>\n' +
								'\t\t\t\t\t\t\t\t\t</select>';
						str += '<input style="display:inline-block;" type="button" value="删除" onclick="delNode(\'UUID\')" />'.replace("UUID", uuid);
						str += '</div>';
						that.append(str);
						$("#way" + i + "").val(data["offlineOrdersGoods"][i]["way"]);
						$("#goodsMode1").click();
					} else {
						addDIVGoods("#addDIVGoodsBtn", data["offlineOrdersGoods"][i]);
						$("#goodsMode2").click();
					}
				}
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			});
		});
	});
	/*]]>*/
	</script>
</body>

</html>
